<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SubWriter</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/SubWriterIcon.ico">
    <script src="https://kit.fontawesome.com/c4516edd08.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <textarea id="prompt" onscroll="syncGhost()" oninput="clearGhostText()" autocapitalize="false" spellcheck="true" contenteditable="true"></textarea>
    <textarea id="ghost-text" disabled="true" contenteditable="false">
Welcome to SubWriter, a minimalistic AI-assisted writing tool. To use Cesium, begin writing and when you need a suggestion, hold [ctrl] or [cmd] and press [Enter]. The AI will suggest a completion, which you are free to edit and change.


—— Usage ——

The model used is GPT-3 (text-davinci-03). Since this is a paid model, you must provide your API key in the address bar in the format shown below:

jamtown.netmillers.com:8000/?key=sk-••••••••••••••••••••••••••••••••••


—— Advanced ——

For advanced use, you can provide the following parameters, which are defaulted to the below values:

&temp=0.3 (0.0-1.0)
&len=100;   (1-1024)
&freq=1.5;      (0.0-2.0) (frequency penalty and presence penalty are tied to the same value)

This website is still in early development and has many changes to come, including customizations, a settings menu, and more advanced AI features. There is no way to report bugs yet, so please be patient, as the website is still under development.

    </textarea>
    <span class="material-symbols-outlined settings" onclick="toggleMenu()" style="user-select: none; position: absolute; color: #abb2bf; right: 5px; top: 5px; font-size: 35px;">settings</span>
    <span class="loader">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <span class="menu" style="width: 100px; border: 5px;"></span>
  </body>
  <script src="js/apiCaller.js"></script>
</html>