html {
    background-color: #202124;
    font-family: 'Chivo', sans-serif;
    overflow: hidden;
    height: 100%;
}


body{
  padding: 0;
  margin: 0;
  background-color: #202124;
  display: flexbox;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
}

#prompt{

    position: absolute;
    display: inline;
    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    padding: 25px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    font-family: 'Chivo', sans-serif;
    background: transparent;
    color: #abb2bf;

    font-size: clamp(20px, 2vh, 48px);

    z-index: 1;
    
    
}

::-moz-selection { /* Code for Firefox */
  color: #70c1cc;
  background: #50545b;
}

::selection {
  color: #70c1cc;
  background: #50545b;
}

#ghost-text{

  position: absolute;
  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;
  padding: 25px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: none;
  overflow: hidden;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
  font-family: 'Chivo', sans-serif;
  background: transparent;
  color: #abb2bf;

  z-index: 0;

  font-size: clamp(20px, 2vh, 48px);

  opacity: 25%;
  background-color: transparent;
  resize: none;
  pointer-events:none;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


#prompt::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #1d1e23;
}

#prompt::-webkit-scrollbar {
  width: 5px;
}

#prompt::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #abb2bf;
  max-height: 100px;
}


#settings{
  z-index: 5;
  cursor: pointer;
  user-select: none;
  position: absolute;
  color: #abb2bf;
  right: 5px;
  top: 5px;
  font-size: clamp(35px, 4vh, 48px);
  font-weight: 400;
}

#settings:active{
  color: #7d828c;
}




#submitButton{
  position: fixed;
  bottom: 5px;
  background-color: #a8cd84;
  color: #41444a;
  border-radius: 10px;
  visibility: hidden;
  -webkit-appearance: none;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  cursor: pointer;
  z-index: 5;

  border: none;
  outline: none;
  
  padding: 10px;
  right: clamp(5px, 0.5vh, 48px);
  font-size: clamp(20px, 3vh, 48px);
  width: auto;
}

#submitButton:active{
  background: #74905a;
}




#menu{
  outline-color: white;
  outline-width: 1px;
  border-color: white;
  border-width: 1px;
  background-color: #32363d;
  z-index: 4;
  visibility: hidden;

  position: absolute;
  right: 0;
  height: 99%;
  max-height: 650px;
  width: 225px;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  color: #abb2bf;
  border-radius: 15px 0px 0px 15px;

  font-size: 20px;
  padding-top: 10px;
}

.menu-item{
  /*border: 2px solid blue;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


.slider-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  vertical-align: middle;
  width: 200px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 200px; /* Full-width */
  height: 8px; /* Specified height */
  background: #596173; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 100px;
  margin-left: 10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


#model-selection{
  color: white;
  background-color: #242830;
  outline: 0px;
  border: 0px;
  padding: 5px;
  font-size: large;
  border-radius: 10px;
}

#API-Key{
  background-color: #242830;
  outline: 0px;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 90%;
}

h2{
  color: white;
  font-size: 22px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}

h3{
  color: white;
  min-width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  font-weight: 500;
}



/* Loading */

.loader {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;

    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    visibility: hidden;
    z-index: 2;

  }
  .loader span {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    border-radius: 3px;
  }
  .loader span:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .loader span:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loader span:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

.AIAnswer{
  color: #9dffc7;
  outline: none;
  border: none;
}