html {
    background-color: #1d1e23;
    font-family: 'Chivo', sans-serif;
    overflow: hidden;
}


body{
  padding: 0;
  margin: 0;
}

#prompt{

    position: absolute;
    display: inline;
    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    padding: 25px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    font-family: 'Chivo', sans-serif;
    background-color: #202124;
    color: #abb2bf;

    font-size: clamp(17px, 1.5vw, 19px);
    
}

#ghost-text{

  position: absolute;
  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;
  padding: 25px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
  font-family: 'Chivo', sans-serif;
  background-color: #202124;
  color: white;

  font-size: clamp(17px, 1.5vw, 19px);

  opacity: 25%;
  background-color: transparent;
  resize: none;
  pointer-events:none;
}


#prompt::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #1d1e23;
}

#prompt::-webkit-scrollbar {
  width: 5px;
}

#prompt::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #abb2bf;
  max-height: 100px;
}




/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%; /* Full-width */
  height: 8px; /* Specified height */
  background: #596173; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 100px;
  margin-left: 10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}









/* Loading */

.loader {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;

    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    visibility: hidden;

  }
  .loader span {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    border-radius: 3px;
  }
  .loader span:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .loader span:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loader span:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

.AIAnswer{
  color: #9dffc7;
  outline: none;
  border: none;
}